html {
background: url('../public/img/background.jpg');
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
}